FileSyncGuiLib/Service References/ServiceRef/FileSyncService42.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FileSyncObjects.Machine" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FileSyncObjects.Machine" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:7979/FileSyncService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/FileSyncObjects.Directory" />
  <xs:complexType name="ArrayOfMachineContents">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MachineContents" nillable="true" type="tns:MachineContents" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMachineContents" nillable="true" type="tns:ArrayOfMachineContents" />
  <xs:complexType name="MachineContents">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:MachineIdentity">
        <xs:sequence>
          <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/FileSyncObjects.Directory" minOccurs="0" name="directories" nillable="true" type="q1:ArrayOfDirectoryContents" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MachineContents" nillable="true" type="tns:MachineContents" />
  <xs:complexType name="MachineIdentity">
    <xs:sequence>
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MachineIdentity" nillable="true" type="tns:MachineIdentity" />
</xs:schema>