FileSyncGuiLib/Service References/ServiceRef/FileSyncService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FileSyncObjects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FileSyncObjects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:7979/FileSyncService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/FileSyncObjects.User" />
  <xs:import schemaLocation="http://localhost:7979/FileSyncService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/FileSyncObjects.Action" />
  <xs:complexType name="CredentialsModel">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/FileSyncObjects.User" base="q1:Credentials">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CredentialsModel" nillable="true" type="tns:CredentialsModel" />
  <xs:complexType name="ResultModel">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/FileSyncObjects.Action" base="q2:ActionResult">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResultModel" nillable="true" type="tns:ResultModel" />
  <xs:complexType name="UserModel">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/FileSyncObjects.User" base="q3:UserContents">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UserModel" nillable="true" type="tns:UserModel" />
</xs:schema>