FileSyncGuiLib/Service References/ServiceRef/FileSyncService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FileSyncService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:7979/FileSyncService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:7979/FileSyncService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:7979/FileSyncService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FileSyncObjects" />
      <xsd:import schemaLocation="http://localhost:7979/FileSyncService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/FileSyncObjects.User" />
      <xsd:import schemaLocation="http://localhost:7979/FileSyncService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/FileSyncObjects.Action" />
      <xsd:import schemaLocation="http://localhost:7979/FileSyncService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/FileSyncObjects.Machine" />
      <xsd:import schemaLocation="http://localhost:7979/FileSyncService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/FileSyncObjects.Directory" />
      <xsd:import schemaLocation="http://localhost:7979/FileSyncService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/FileSyncObjects.File" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFileSyncModel_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IFileSyncModel_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IFileSyncModel_GetUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUser" />
  </wsdl:message>
  <wsdl:message name="IFileSyncModel_GetUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserResponse" />
  </wsdl:message>
  <wsdl:message name="IFileSyncModel_AddUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUser" />
  </wsdl:message>
  <wsdl:message name="IFileSyncModel_AddUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUserResponse" />
  </wsdl:message>
  <wsdl:portType name="IFileSyncModel">
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileSyncModel/Login" message="tns:IFileSyncModel_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileSyncModel/LoginResponse" message="tns:IFileSyncModel_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileSyncModel/GetUser" message="tns:IFileSyncModel_GetUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileSyncModel/GetUserResponse" message="tns:IFileSyncModel_GetUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileSyncModel/AddUser" message="tns:IFileSyncModel_AddUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileSyncModel/AddUserResponse" message="tns:IFileSyncModel_AddUser_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IFileSyncModel" type="tns:IFileSyncModel">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IFileSyncModel/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <soap:operation soapAction="http://tempuri.org/IFileSyncModel/GetUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <soap:operation soapAction="http://tempuri.org/IFileSyncModel/AddUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FileSyncService">
    <wsdl:port name="BasicHttpBinding_IFileSyncModel" binding="tns:BasicHttpBinding_IFileSyncModel">
      <soap:address location="http://localhost:7979/FileSyncService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>