FileSyncGuiLib/Service References/ServiceRef/FileSyncService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FileSyncObjects.User" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FileSyncObjects.User" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:7979/FileSyncService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/FileSyncObjects.Machine" />
  <xs:complexType name="Credentials">
    <xs:sequence>
      <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Credentials" nillable="true" type="tns:Credentials" />
  <xs:complexType name="UserContents">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:UserIdentity">
        <xs:sequence>
          <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/FileSyncObjects.Machine" minOccurs="0" name="machines" nillable="true" type="q1:ArrayOfMachineContents" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UserContents" nillable="true" type="tns:UserContents" />
  <xs:complexType name="UserIdentity">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Credentials">
        <xs:sequence>
          <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UserIdentity" nillable="true" type="tns:UserIdentity" />
</xs:schema>