FileSyncGuiLib/Service References/ServiceRef/FileSyncService41.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FileSyncObjects.Directory" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FileSyncObjects.Directory" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:7979/FileSyncService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/FileSyncObjects.File" />
  <xs:complexType name="ArrayOfDirectoryContents">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DirectoryContents" nillable="true" type="tns:DirectoryContents" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDirectoryContents" nillable="true" type="tns:ArrayOfDirectoryContents" />
  <xs:complexType name="DirectoryContents">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DirectoryIdentity">
        <xs:sequence>
          <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/FileSyncObjects.File" minOccurs="0" name="files" nillable="true" type="q1:ArrayOfFileContents" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DirectoryContents" nillable="true" type="tns:DirectoryContents" />
  <xs:complexType name="DirectoryIdentity">
    <xs:sequence>
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="localPath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DirectoryIdentity" nillable="true" type="tns:DirectoryIdentity" />
</xs:schema>