FileSyncGui/Service References/Ref/FileSyncService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FileSyncService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:7979/FileSyncService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:7979/FileSyncService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:7979/FileSyncService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FileSyncObjects" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFileSyncModel_AddUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUser" />
  </wsdl:message>
  <wsdl:message name="IFileSyncModel_AddUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUserResponse" />
  </wsdl:message>
  <wsdl:message name="IFileSyncModel_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IFileSyncModel_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IFileSyncModel_GetUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUser" />
  </wsdl:message>
  <wsdl:message name="IFileSyncModel_GetUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserResponse" />
  </wsdl:message>
  <wsdl:message name="IFileSyncModel_GetMachineList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMachineList" />
  </wsdl:message>
  <wsdl:message name="IFileSyncModel_GetMachineList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMachineListResponse" />
  </wsdl:message>
  <wsdl:message name="IFileSyncModel_DelUser_InputMessage">
    <wsdl:part name="parameters" element="tns:DelUser" />
  </wsdl:message>
  <wsdl:message name="IFileSyncModel_DelUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:DelUserResponse" />
  </wsdl:message>
  <wsdl:message name="IFileSyncModel_AddMachine_InputMessage">
    <wsdl:part name="parameters" element="tns:AddMachine" />
  </wsdl:message>
  <wsdl:message name="IFileSyncModel_AddMachine_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddMachineResponse" />
  </wsdl:message>
  <wsdl:message name="IFileSyncModel_ChangeMachineDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeMachineDetails" />
  </wsdl:message>
  <wsdl:message name="IFileSyncModel_ChangeMachineDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangeMachineDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IFileSyncModel_GetDirList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDirList" />
  </wsdl:message>
  <wsdl:message name="IFileSyncModel_GetDirList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDirListResponse" />
  </wsdl:message>
  <wsdl:message name="IFileSyncModel_AddDirectory_InputMessage">
    <wsdl:part name="parameters" element="tns:AddDirectory" />
  </wsdl:message>
  <wsdl:message name="IFileSyncModel_AddDirectory_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddDirectoryResponse" />
  </wsdl:message>
  <wsdl:message name="IFileSyncModel_GetFileList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFileList" />
  </wsdl:message>
  <wsdl:message name="IFileSyncModel_GetFileList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFileListResponse" />
  </wsdl:message>
  <wsdl:message name="IFileSyncModel_AddFile_InputMessage">
    <wsdl:part name="parameters" element="tns:AddFile" />
  </wsdl:message>
  <wsdl:message name="IFileSyncModel_AddFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddFileResponse" />
  </wsdl:message>
  <wsdl:message name="IFileSyncModel_GetFileContent_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFileContent" />
  </wsdl:message>
  <wsdl:message name="IFileSyncModel_GetFileContent_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFileContentResponse" />
  </wsdl:message>
  <wsdl:portType name="IFileSyncModel">
    <wsdl:operation name="AddUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileSyncModel/AddUser" message="tns:IFileSyncModel_AddUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileSyncModel/AddUserResponse" message="tns:IFileSyncModel_AddUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileSyncModel/Login" message="tns:IFileSyncModel_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileSyncModel/LoginResponse" message="tns:IFileSyncModel_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileSyncModel/GetUser" message="tns:IFileSyncModel_GetUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileSyncModel/GetUserResponse" message="tns:IFileSyncModel_GetUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMachineList">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileSyncModel/GetMachineList" message="tns:IFileSyncModel_GetMachineList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileSyncModel/GetMachineListResponse" message="tns:IFileSyncModel_GetMachineList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DelUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileSyncModel/DelUser" message="tns:IFileSyncModel_DelUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileSyncModel/DelUserResponse" message="tns:IFileSyncModel_DelUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddMachine">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileSyncModel/AddMachine" message="tns:IFileSyncModel_AddMachine_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileSyncModel/AddMachineResponse" message="tns:IFileSyncModel_AddMachine_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeMachineDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileSyncModel/ChangeMachineDetails" message="tns:IFileSyncModel_ChangeMachineDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileSyncModel/ChangeMachineDetailsResponse" message="tns:IFileSyncModel_ChangeMachineDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDirList">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileSyncModel/GetDirList" message="tns:IFileSyncModel_GetDirList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileSyncModel/GetDirListResponse" message="tns:IFileSyncModel_GetDirList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddDirectory">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileSyncModel/AddDirectory" message="tns:IFileSyncModel_AddDirectory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileSyncModel/AddDirectoryResponse" message="tns:IFileSyncModel_AddDirectory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFileList">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileSyncModel/GetFileList" message="tns:IFileSyncModel_GetFileList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileSyncModel/GetFileListResponse" message="tns:IFileSyncModel_GetFileList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileSyncModel/AddFile" message="tns:IFileSyncModel_AddFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileSyncModel/AddFileResponse" message="tns:IFileSyncModel_AddFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFileContent">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileSyncModel/GetFileContent" message="tns:IFileSyncModel_GetFileContent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileSyncModel/GetFileContentResponse" message="tns:IFileSyncModel_GetFileContent_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IFileSyncModel" type="tns:IFileSyncModel">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddUser">
      <soap:operation soapAction="http://tempuri.org/IFileSyncModel/AddUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IFileSyncModel/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <soap:operation soapAction="http://tempuri.org/IFileSyncModel/GetUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMachineList">
      <soap:operation soapAction="http://tempuri.org/IFileSyncModel/GetMachineList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelUser">
      <soap:operation soapAction="http://tempuri.org/IFileSyncModel/DelUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddMachine">
      <soap:operation soapAction="http://tempuri.org/IFileSyncModel/AddMachine" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeMachineDetails">
      <soap:operation soapAction="http://tempuri.org/IFileSyncModel/ChangeMachineDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDirList">
      <soap:operation soapAction="http://tempuri.org/IFileSyncModel/GetDirList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddDirectory">
      <soap:operation soapAction="http://tempuri.org/IFileSyncModel/AddDirectory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileList">
      <soap:operation soapAction="http://tempuri.org/IFileSyncModel/GetFileList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddFile">
      <soap:operation soapAction="http://tempuri.org/IFileSyncModel/AddFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileContent">
      <soap:operation soapAction="http://tempuri.org/IFileSyncModel/GetFileContent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FileSyncService">
    <wsdl:port name="BasicHttpBinding_IFileSyncModel" binding="tns:BasicHttpBinding_IFileSyncModel">
      <soap:address location="http://localhost:7979/FileSyncService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>