FileSyncGui/Service References/Ref/FileSyncService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:7979/FileSyncService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FileSyncObjects" />
  <xs:element name="TestWCF">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TestWCFResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TestWCFResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestEF">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TestEFResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TestEFResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/FileSyncObjects" minOccurs="0" name="u" nillable="true" type="q1:UserContents" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/FileSyncObjects" minOccurs="0" name="c" nillable="true" type="q2:Credentials" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/FileSyncObjects" minOccurs="0" name="c" nillable="true" type="q3:Credentials" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/FileSyncObjects" minOccurs="0" name="GetUserResult" nillable="true" type="q4:UserIdentity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserWithMachines">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/FileSyncObjects" minOccurs="0" name="c" nillable="true" type="q5:Credentials" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserWithMachinesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/FileSyncObjects" minOccurs="0" name="GetUserWithMachinesResult" nillable="true" type="q6:UserContents" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/FileSyncObjects" minOccurs="0" name="c" nillable="true" type="q7:Credentials" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMachine">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/FileSyncObjects" minOccurs="0" name="c" nillable="true" type="q8:Credentials" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/FileSyncObjects" minOccurs="0" name="m" nillable="true" type="q9:MachineContents" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMachineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddMachineResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeMachineDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/FileSyncObjects" minOccurs="0" name="c" nillable="true" type="q10:Credentials" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/FileSyncObjects" minOccurs="0" name="newM" nillable="true" type="q11:MachineContents" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/FileSyncObjects" minOccurs="0" name="oldM" nillable="true" type="q12:MachineContents" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeMachineDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChangeMachineDetailsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDirList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/FileSyncObjects" minOccurs="0" name="c" nillable="true" type="q13:Credentials" />
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/FileSyncObjects" minOccurs="0" name="m" nillable="true" type="q14:MachineContents" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDirListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/FileSyncObjects" minOccurs="0" name="GetDirListResult" nillable="true" type="q15:ArrayOfDirectoryContents" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMachineWithDirs">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/FileSyncObjects" minOccurs="0" name="c" nillable="true" type="q16:Credentials" />
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/FileSyncObjects" minOccurs="0" name="mid" nillable="true" type="q17:MachineIdentity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMachineWithDirsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/FileSyncObjects" minOccurs="0" name="GetMachineWithDirsResult" nillable="true" type="q18:MachineContents" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelMachine">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/FileSyncObjects" minOccurs="0" name="c" nillable="true" type="q19:Credentials" />
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/FileSyncObjects" minOccurs="0" name="mid" nillable="true" type="q20:MachineIdentity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelMachineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelMachineResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDirectory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/FileSyncObjects" minOccurs="0" name="c" nillable="true" type="q21:Credentials" />
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/FileSyncObjects" minOccurs="0" name="m" nillable="true" type="q22:MachineContents" />
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/FileSyncObjects" minOccurs="0" name="d" nillable="true" type="q23:DirectoryContents" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDirectoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddDirectoryResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDirectoryWithFiles">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/FileSyncObjects" minOccurs="0" name="c" nillable="true" type="q24:Credentials" />
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/FileSyncObjects" minOccurs="0" name="m" nillable="true" type="q25:MachineContents" />
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/FileSyncObjects" minOccurs="0" name="d" nillable="true" type="q26:DirectoryIdentity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDirectoryWithFilesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/FileSyncObjects" minOccurs="0" name="GetDirectoryWithFilesResult" nillable="true" type="q27:DirectoryContents" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelDirectory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/FileSyncObjects" minOccurs="0" name="c" nillable="true" type="q28:Credentials" />
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/FileSyncObjects" minOccurs="0" name="mid" nillable="true" type="q29:MachineIdentity" />
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/FileSyncObjects" minOccurs="0" name="did" nillable="true" type="q30:DirectoryIdentity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelDirectoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelDirectoryResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/FileSyncObjects" minOccurs="0" name="c" nillable="true" type="q31:Credentials" />
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/FileSyncObjects" minOccurs="0" name="m" nillable="true" type="q32:MachineContents" />
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/FileSyncObjects" minOccurs="0" name="d" nillable="true" type="q33:DirectoryContents" />
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/FileSyncObjects" minOccurs="0" name="f" nillable="true" type="q34:FileContents" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddFileResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFileWithContent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/FileSyncObjects" minOccurs="0" name="c" nillable="true" type="q35:Credentials" />
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/FileSyncObjects" minOccurs="0" name="m" nillable="true" type="q36:MachineContents" />
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/FileSyncObjects" minOccurs="0" name="d" nillable="true" type="q37:DirectoryContents" />
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/FileSyncObjects" minOccurs="0" name="f" nillable="true" type="q38:FileIdentity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFileWithContentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/FileSyncObjects" minOccurs="0" name="GetFileWithContentResult" nillable="true" type="q39:FileContents" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/FileSyncObjects" minOccurs="0" name="c" nillable="true" type="q40:Credentials" />
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/FileSyncObjects" minOccurs="0" name="mid" nillable="true" type="q41:MachineIdentity" />
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/FileSyncObjects" minOccurs="0" name="did" nillable="true" type="q42:DirectoryIdentity" />
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/FileSyncObjects" minOccurs="0" name="f" nillable="true" type="q43:FileIdentity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelFileResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>