FileSyncGui/Service References/Ref/FileSyncService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:7979/FileSyncService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FileSyncObjects" />
  <xs:element name="TestWCF">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TestWCFResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TestWCFResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestEF">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TestEFResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TestEFResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/FileSyncObjects" minOccurs="0" name="u" nillable="true" type="q1:UserContents" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/FileSyncObjects" minOccurs="0" name="c" nillable="true" type="q2:Credentials" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/FileSyncObjects" minOccurs="0" name="c" nillable="true" type="q3:Credentials" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/FileSyncObjects" minOccurs="0" name="GetUserResult" nillable="true" type="q4:UserContents" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMachineList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/FileSyncObjects" minOccurs="0" name="c" nillable="true" type="q5:Credentials" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/FileSyncObjects" minOccurs="0" name="u" nillable="true" type="q6:UserContents" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMachineListResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DelUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/FileSyncObjects" minOccurs="0" name="c" nillable="true" type="q7:Credentials" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMachine">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/FileSyncObjects" minOccurs="0" name="c" nillable="true" type="q8:Credentials" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/FileSyncObjects" minOccurs="0" name="m" nillable="true" type="q9:MachineContents" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMachineResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeMachineDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/FileSyncObjects" minOccurs="0" name="c" nillable="true" type="q10:Credentials" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/FileSyncObjects" minOccurs="0" name="newM" nillable="true" type="q11:MachineContents" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/FileSyncObjects" minOccurs="0" name="oldM" nillable="true" type="q12:MachineContents" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeMachineDetailsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDirList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/FileSyncObjects" minOccurs="0" name="c" nillable="true" type="q13:Credentials" />
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/FileSyncObjects" minOccurs="0" name="m" nillable="true" type="q14:MachineContents" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDirListResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDirectory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/FileSyncObjects" minOccurs="0" name="c" nillable="true" type="q15:Credentials" />
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/FileSyncObjects" minOccurs="0" name="m" nillable="true" type="q16:MachineContents" />
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/FileSyncObjects" minOccurs="0" name="d" nillable="true" type="q17:DirectoryContents" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDirectoryResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFileList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/FileSyncObjects" minOccurs="0" name="c" nillable="true" type="q18:Credentials" />
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/FileSyncObjects" minOccurs="0" name="m" nillable="true" type="q19:MachineContents" />
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/FileSyncObjects" minOccurs="0" name="d" nillable="true" type="q20:DirectoryContents" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFileListResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/FileSyncObjects" minOccurs="0" name="c" nillable="true" type="q21:Credentials" />
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/FileSyncObjects" minOccurs="0" name="m" nillable="true" type="q22:MachineContents" />
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/FileSyncObjects" minOccurs="0" name="d" nillable="true" type="q23:DirectoryContents" />
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/FileSyncObjects" minOccurs="0" name="f" nillable="true" type="q24:FileContents" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFileResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFileContent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/FileSyncObjects" minOccurs="0" name="c" nillable="true" type="q25:Credentials" />
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/FileSyncObjects" minOccurs="0" name="m" nillable="true" type="q26:MachineContents" />
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/FileSyncObjects" minOccurs="0" name="d" nillable="true" type="q27:DirectoryContents" />
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/FileSyncObjects" minOccurs="0" name="f" nillable="true" type="q28:FileContents" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFileContentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>