FileSyncGui/Service References/Ref/FileSyncService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FileSyncService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:7979/FileSyncService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:7979/FileSyncService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:7979/FileSyncService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FileSyncObjects" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFileSyncModel_TestWCF_InputMessage">
    <wsdl:part name="parameters" element="tns:TestWCF" />
  </wsdl:message>
  <wsdl:message name="IFileSyncModel_TestWCF_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestWCFResponse" />
  </wsdl:message>
  <wsdl:message name="IFileSyncModel_TestEF_InputMessage">
    <wsdl:part name="parameters" element="tns:TestEF" />
  </wsdl:message>
  <wsdl:message name="IFileSyncModel_TestEF_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestEFResponse" />
  </wsdl:message>
  <wsdl:message name="IFileSyncModel_AddUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUser" />
  </wsdl:message>
  <wsdl:message name="IFileSyncModel_AddUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUserResponse" />
  </wsdl:message>
  <wsdl:message name="IFileSyncModel_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IFileSyncModel_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IFileSyncModel_GetUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUser" />
  </wsdl:message>
  <wsdl:message name="IFileSyncModel_GetUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserResponse" />
  </wsdl:message>
  <wsdl:message name="IFileSyncModel_GetUserWithMachines_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserWithMachines" />
  </wsdl:message>
  <wsdl:message name="IFileSyncModel_GetUserWithMachines_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserWithMachinesResponse" />
  </wsdl:message>
  <wsdl:message name="IFileSyncModel_DelUser_InputMessage">
    <wsdl:part name="parameters" element="tns:DelUser" />
  </wsdl:message>
  <wsdl:message name="IFileSyncModel_DelUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:DelUserResponse" />
  </wsdl:message>
  <wsdl:message name="IFileSyncModel_AddMachine_InputMessage">
    <wsdl:part name="parameters" element="tns:AddMachine" />
  </wsdl:message>
  <wsdl:message name="IFileSyncModel_AddMachine_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddMachineResponse" />
  </wsdl:message>
  <wsdl:message name="IFileSyncModel_ChangeMachineDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeMachineDetails" />
  </wsdl:message>
  <wsdl:message name="IFileSyncModel_ChangeMachineDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangeMachineDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IFileSyncModel_GetDirList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDirList" />
  </wsdl:message>
  <wsdl:message name="IFileSyncModel_GetDirList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDirListResponse" />
  </wsdl:message>
  <wsdl:message name="IFileSyncModel_GetMachineWithDirs_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMachineWithDirs" />
  </wsdl:message>
  <wsdl:message name="IFileSyncModel_GetMachineWithDirs_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMachineWithDirsResponse" />
  </wsdl:message>
  <wsdl:message name="IFileSyncModel_DelMachine_InputMessage">
    <wsdl:part name="parameters" element="tns:DelMachine" />
  </wsdl:message>
  <wsdl:message name="IFileSyncModel_DelMachine_OutputMessage">
    <wsdl:part name="parameters" element="tns:DelMachineResponse" />
  </wsdl:message>
  <wsdl:message name="IFileSyncModel_AddDirectory_InputMessage">
    <wsdl:part name="parameters" element="tns:AddDirectory" />
  </wsdl:message>
  <wsdl:message name="IFileSyncModel_AddDirectory_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddDirectoryResponse" />
  </wsdl:message>
  <wsdl:message name="IFileSyncModel_GetFileList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFileList" />
  </wsdl:message>
  <wsdl:message name="IFileSyncModel_GetFileList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFileListResponse" />
  </wsdl:message>
  <wsdl:message name="IFileSyncModel_GetDirectoryWithFiles_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDirectoryWithFiles" />
  </wsdl:message>
  <wsdl:message name="IFileSyncModel_GetDirectoryWithFiles_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDirectoryWithFilesResponse" />
  </wsdl:message>
  <wsdl:message name="IFileSyncModel_DelDirectory_InputMessage">
    <wsdl:part name="parameters" element="tns:DelDirectory" />
  </wsdl:message>
  <wsdl:message name="IFileSyncModel_DelDirectory_OutputMessage">
    <wsdl:part name="parameters" element="tns:DelDirectoryResponse" />
  </wsdl:message>
  <wsdl:message name="IFileSyncModel_AddFile_InputMessage">
    <wsdl:part name="parameters" element="tns:AddFile" />
  </wsdl:message>
  <wsdl:message name="IFileSyncModel_AddFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddFileResponse" />
  </wsdl:message>
  <wsdl:message name="IFileSyncModel_GetFileWithContent_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFileWithContent" />
  </wsdl:message>
  <wsdl:message name="IFileSyncModel_GetFileWithContent_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFileWithContentResponse" />
  </wsdl:message>
  <wsdl:message name="IFileSyncModel_DelFile_InputMessage">
    <wsdl:part name="parameters" element="tns:DelFile" />
  </wsdl:message>
  <wsdl:message name="IFileSyncModel_DelFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:DelFileResponse" />
  </wsdl:message>
  <wsdl:portType name="IFileSyncModel">
    <wsdl:operation name="TestWCF">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileSyncModel/TestWCF" message="tns:IFileSyncModel_TestWCF_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileSyncModel/TestWCFResponse" message="tns:IFileSyncModel_TestWCF_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TestEF">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileSyncModel/TestEF" message="tns:IFileSyncModel_TestEF_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileSyncModel/TestEFResponse" message="tns:IFileSyncModel_TestEF_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileSyncModel/AddUser" message="tns:IFileSyncModel_AddUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileSyncModel/AddUserResponse" message="tns:IFileSyncModel_AddUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileSyncModel/Login" message="tns:IFileSyncModel_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileSyncModel/LoginResponse" message="tns:IFileSyncModel_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileSyncModel/GetUser" message="tns:IFileSyncModel_GetUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileSyncModel/GetUserResponse" message="tns:IFileSyncModel_GetUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserWithMachines">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileSyncModel/GetUserWithMachines" message="tns:IFileSyncModel_GetUserWithMachines_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileSyncModel/GetUserWithMachinesResponse" message="tns:IFileSyncModel_GetUserWithMachines_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DelUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileSyncModel/DelUser" message="tns:IFileSyncModel_DelUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileSyncModel/DelUserResponse" message="tns:IFileSyncModel_DelUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddMachine">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileSyncModel/AddMachine" message="tns:IFileSyncModel_AddMachine_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileSyncModel/AddMachineResponse" message="tns:IFileSyncModel_AddMachine_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeMachineDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileSyncModel/ChangeMachineDetails" message="tns:IFileSyncModel_ChangeMachineDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileSyncModel/ChangeMachineDetailsResponse" message="tns:IFileSyncModel_ChangeMachineDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDirList">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileSyncModel/GetDirList" message="tns:IFileSyncModel_GetDirList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileSyncModel/GetDirListResponse" message="tns:IFileSyncModel_GetDirList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMachineWithDirs">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileSyncModel/GetMachineWithDirs" message="tns:IFileSyncModel_GetMachineWithDirs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileSyncModel/GetMachineWithDirsResponse" message="tns:IFileSyncModel_GetMachineWithDirs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DelMachine">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileSyncModel/DelMachine" message="tns:IFileSyncModel_DelMachine_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileSyncModel/DelMachineResponse" message="tns:IFileSyncModel_DelMachine_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddDirectory">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileSyncModel/AddDirectory" message="tns:IFileSyncModel_AddDirectory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileSyncModel/AddDirectoryResponse" message="tns:IFileSyncModel_AddDirectory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFileList">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileSyncModel/GetFileList" message="tns:IFileSyncModel_GetFileList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileSyncModel/GetFileListResponse" message="tns:IFileSyncModel_GetFileList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDirectoryWithFiles">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileSyncModel/GetDirectoryWithFiles" message="tns:IFileSyncModel_GetDirectoryWithFiles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileSyncModel/GetDirectoryWithFilesResponse" message="tns:IFileSyncModel_GetDirectoryWithFiles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DelDirectory">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileSyncModel/DelDirectory" message="tns:IFileSyncModel_DelDirectory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileSyncModel/DelDirectoryResponse" message="tns:IFileSyncModel_DelDirectory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileSyncModel/AddFile" message="tns:IFileSyncModel_AddFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileSyncModel/AddFileResponse" message="tns:IFileSyncModel_AddFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFileWithContent">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileSyncModel/GetFileWithContent" message="tns:IFileSyncModel_GetFileWithContent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileSyncModel/GetFileWithContentResponse" message="tns:IFileSyncModel_GetFileWithContent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DelFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileSyncModel/DelFile" message="tns:IFileSyncModel_DelFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileSyncModel/DelFileResponse" message="tns:IFileSyncModel_DelFile_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IFileSyncModel" type="tns:IFileSyncModel">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TestWCF">
      <soap:operation soapAction="http://tempuri.org/IFileSyncModel/TestWCF" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestEF">
      <soap:operation soapAction="http://tempuri.org/IFileSyncModel/TestEF" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <soap:operation soapAction="http://tempuri.org/IFileSyncModel/AddUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IFileSyncModel/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <soap:operation soapAction="http://tempuri.org/IFileSyncModel/GetUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserWithMachines">
      <soap:operation soapAction="http://tempuri.org/IFileSyncModel/GetUserWithMachines" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelUser">
      <soap:operation soapAction="http://tempuri.org/IFileSyncModel/DelUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddMachine">
      <soap:operation soapAction="http://tempuri.org/IFileSyncModel/AddMachine" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeMachineDetails">
      <soap:operation soapAction="http://tempuri.org/IFileSyncModel/ChangeMachineDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDirList">
      <soap:operation soapAction="http://tempuri.org/IFileSyncModel/GetDirList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMachineWithDirs">
      <soap:operation soapAction="http://tempuri.org/IFileSyncModel/GetMachineWithDirs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelMachine">
      <soap:operation soapAction="http://tempuri.org/IFileSyncModel/DelMachine" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddDirectory">
      <soap:operation soapAction="http://tempuri.org/IFileSyncModel/AddDirectory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileList">
      <soap:operation soapAction="http://tempuri.org/IFileSyncModel/GetFileList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDirectoryWithFiles">
      <soap:operation soapAction="http://tempuri.org/IFileSyncModel/GetDirectoryWithFiles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelDirectory">
      <soap:operation soapAction="http://tempuri.org/IFileSyncModel/DelDirectory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddFile">
      <soap:operation soapAction="http://tempuri.org/IFileSyncModel/AddFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileWithContent">
      <soap:operation soapAction="http://tempuri.org/IFileSyncModel/GetFileWithContent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelFile">
      <soap:operation soapAction="http://tempuri.org/IFileSyncModel/DelFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FileSyncService">
    <wsdl:port name="BasicHttpBinding_IFileSyncModel" binding="tns:BasicHttpBinding_IFileSyncModel">
      <soap:address location="http://localhost:7979/FileSyncService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>